
h1 {
    display: flex;
    justify-content: center;
    font-size: calc(40px + 1.5vw);
}

.box-frame-1 {
    width: 300px;
    height: 300px;
    border: solid 3px var(--neonGreen);
    margin: auto;
}

/* .box-frame-2 {
    width: 300px;
    height: 300px;
    border: solid 3px var(--neonGreen);
} */

h2 {
    display: flex;
    justify-content: center;
    font-size: calc(12px + 1.5vw);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.links-container {
    display: flex;
    justify-content: space-evenly;
}

.links {
    text-decoration: none;
    color: var(--neonGreen);
    border-color: var(--neonGreen);
    border-radius: 0.2rem;
    border-style: dashed;
    /* font-size: 2rem; */
    font-size: calc(12px + 1.5vw);
    padding: 5px 25px;
}

.links:hover {
    background-color: #074D5F;
    /* background-color: #3B3C06; */
    /* background-color: #7e1d5b; */
}

/* media queries

h2 {
    font-size: 1.5rem;
}

use calc for font responsiveness

links {
    font-size: 1.5rem;
    width: 7rem;
    margin: auto;
}    