@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
    --neonGreen: #67FFB2;
    --softBlack: #2a2a2a;
}

body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--softBlack);
    color: var(--neonGreen);
}