@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
    --purpleBlue: #500DFA;
    --limeYellow: #F4FF9B;
    --softBlack: #2a2a2a;
    --softWhite: #F3F3F3;
}